extends layout 

block content 
  h1.title= title 

  aside  
    article.category  
      .linkCategory
        img.imgCategory(src=category.img, alt="")
        span.dentro #{category.name}
      div.boxSpanCategory
        span.spanCategory #{category.description}

  aside.items 
    each item in category_items
      a.linkItem(href=item.url)
        article.item
          .boxImg 
            if item.img 
              img.imgItem(src=item.img, alt="") 
          .boxPrecio 
            span S/. #{item.cost},00
            a.linkItem(href=item.url) #{item.name} 

  button.btn.btnFixedUpdate
    a.linkFixed(href=category.url + '/update')
      img.icoEdit(src="/images/edit.png", alt="")
  button.btn.btnFixedAdd 
    a.linkFixed(href="/home/item/create") +