extends layout 

block content 
  h1.title= title 

  aside.asideList  
    each category in categories
      article.category  
        a.linkCategory(href=category.url)
          img.imgCategory(src=category.img, alt="")
          span.dentro #{category.name}
        div.boxSpanCategory
          span.spanCategory #{category.description}
    
    else 
      li No hay Categorias
  button.btn.btnFixed 
    a.linkFixed(href="/home/category/create") +